.login-body{
    font-family: 'Arial', sans-serif;
    background-color: #FADADD;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header{
    text-align: center;
    margin-bottom: 30px;
    font-family: UniversLTStd-Bold;
    position: relative;
    will-change: background-color, padding;
}
