<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Dry Skin</title>
    <link rel="stylesheet" href="dryskin.css">
    <link rel="icon" href="logo/logomfu.png" >
</head>
<body>
    <header>
        <nav class="navbar">
            
            <a href="main-page.html" class="MFU">MFU<br> Make Up For You</a>
            <a href="#" class="nav-products">
               <h3 class="product-text">PRODUCTS FOR</h3> 
            </a>     

            <ul class="nav-menu">
    
                <li class="nav-item">
                    <a href="oilyskin.html" class="nav-link">oily skin</a>
                </li>
                <li class="nav-item">
                    <a href="normalskin.html" class="nav-link">normal skini</a>
                </li>
            </ul>
        </nav>
    </header>

    
    <main>

        <div class="product-container">

        <div class="product1">
            <img src="images/retinol.jpg" alt="retinol" class="retinol">
            <div class="overlay-text">
                <h2 class="title"> The Retinol 0.1<vr> cream</vr></h2><br>
                 <p class="description">Super Vitamin E <br>+ Panthenol
                    <br>+ Firmness & Smooth <br>+ Youthful-looking Skin
                </p><br>
                <p class="price">$ 13</p>
            </div>
        </div>


        <div class="product2">
            <img src="images/skinbooster.jpg" alt="skinbooster" class="skinbooster">
            <div class="overlay-text2">
                <h2 class="title2"> The 6 Peptide<br>Skin Booster </h2><br>
                <p class="description2">
                    Hyaluronic Acid + <br>NAG + Amino Acids <br>
                    +Even skin tone <br>+ Hydrating 
                    <br>+Firmness & Smooth 
                    <br>+Pore & Sebum care 
                    <br>+Improve skin texture

                </p><br>
                </p>
                <p class="price2">$ 18</p>
            </div>
        </div>



        <div class="product3">
            <img src="images/vitamin.jpg" alt="vitamin" class="vitamin">
            <div class="overlay-text3">
                <h2 class="title3">The Vitamin C23
                     </h2><br>
                <p class="description3">
                    Super Vitamin E <br>+ Hyaluronic Acid <br>
                    + Improve skin condition
                    <br>+ Even skin tone

                </p><br>
                </p>
                <p class="price3">$ 14</p>
            </div>
        </div>

    </div>

    </main>
    
</body>
</html>