<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MFU login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="logo/logomfu.png" >

</head>

<body>

    <header>
        <nav class="navbar">
            <a href="main-page.html" class="MFU">MFU<br> Make Up For You</a>
    </header>

    <main>
        <section class="section">
            <div class="fullscreen-background2">
                <div class="login-content">
                    <h1>LOGIN</h1>
                    <form class="login-form">
                            <label for="login-email"></label>
                            <input type="email" id="login-email" class="email-input" placeholder="email" required> <br>
                        
                            <label for="login-password"></label>
                            <input type="password" id="login-password" class="password-input"  placeholder="password" required>
                    
                        
                        <div class="forgot-password">
                            <a href="#"><small>forgot password?</small></a>
                        </div>
        
                        <div class="agreement">
                            <small>by logging in, you agree to our terms, Privacy Policy, and <br> Program Terms</small>
                        </div>
        
                        <button type="submit" class="login-button">login</button>
                    </form>

                    <form class="register">
                        <div class="register-link">
                            <small>Don't have an account yet?<small>
        
                            <a href="register.html">Create account</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

</body>
</html>