<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Up For You</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="logo/logomfu.png" >
</head>
<body>

    <header>
        <nav class="navbar">
            <h1 class="logo-text">MFU <br> Make Up For You</h1>
            
            <a href="#" class="nav-products">
               <h3 class="product-text">PRODUCTS FOR</h3> 
            </a>     

            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="oilyskin.html" class="nav-link">oily skin</a>   
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">normal skin</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">dry skin</a>
                </li>

                <li class="nav-item">
                    <a href="register.html" class="nav-link">register</a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="nav-link">login</a>
                </li>
            </ul>
        </nav>
    </header>
    

    <main>
        <section class="hero-section">
            <div class="section-content">
                <div class="fullscreen-background">
                    <img src="images/logo.jpg" alt="logo" class="image">
                    <div class="overlay-text">
                        <h3 class="title1">just dropped</h3>
                        <h2 class="title2">ONE STEP <br>CLEANSING MASK</h2><br>
                         <p class="description">The face mask with kaolin <br> and tea tree effectively cleanses the skin, 
                        <br> removing impurities, excess sebum,<br> and dead cells. It also improves skin <br> 
                        condition, tightens pores, and detoxifies <br> thanks to Amazonian white clay.
                        </p><br>
                            <div class="buttons">
                                <a href="#" class="button shop-now">shop now</a>
                            </div>
                    </div>
                </div>
                <div class="registerloginbutton">
                    <a href=""></a>

                </div>

            </div>
        </section>
    </main>

</body>
</html>