<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For normal skin</title>
    <link rel="stylesheet" href="normalskin.css">
    <link rel="icon" href="logo/logomfu.png" >
</head>
<body>
    <header>
        <nav class="navbar">
            
            <a href="main-page.html" class="MFU">MFU<br> Make Up For You</a>
            <a href="#" class="nav-products">
               <h3 class="product-text">PRODUCTS FOR</h3> 
            </a>     

            <ul class="nav-menu">
    
                <li class="nav-item">
                    <a href="oilyskin.html" class="nav-link">oily skin</a>
                </li>
                <li class="nav-item">
                    <a href="dryskin.html" class="nav-link">dry skin</a>
                </li>
            </ul>
        </nav>
    </header>




    <main>

        <div class="product-container">

        <div class="product1">
            <img src="images/creame.jpg" alt="creame" class="creame">
            <div class="overlay-text">
                <h2 class="title"> True Cicakming <br> Cream </h2><br>
                 <p class="description">
                    Light, moist gel cream that tightens <br>the moisture charged in the previous 
                    <br>step 63 Moisture Lock Water Magnet<br>
                    ingredients pull moisture particles into <br>the skin like magnets to prevent loss 
                    <br>and protect Bodle's smooth finish <br>True Shikaming cream with up to <br>54% combination
                </p><br>
                <p class="price">$ 10</p>
            </div>
        </div>


        <div class="product2">
            <img src="images/cream2.jpg" alt="creame2" class="creame2">
            <div class="overlay-text2">
                <h2 class="title2"> Welling <br>Wash-Off Pack Grain </h2><br>
                <p class="description2">
                    The young barley extract takes care of the basic<br> 
                    health of your skin, while mung beans and peas <br>add smooth, 
                    firming elasticity, layering your skin<br> with high-protein 
                    nourishment
                </p><br>
                </p>
                <p class="price2">$ 15</p>
            </div>
        </div>



        <div class="product3">
            <img src="images/creame3.jpg" alt="creame3" class="creame3">
            <div class="overlay-text3">
                <h2 class="title3">Panthenol <br>Repair Cream
                     </h2><br>
                <p class="description3">
                    Outer, glossy, inner moisturizing skincare to <br>solve dryness. 
                    Experience high-moisture <br>barrier care for comfortable skin 
                    in just two steps. Start before the weather gets even drier!
                </p><br>
                </p>
                <p class="price3">$ 20</p>
            </div>
        </div>

    </div>

    </main>

    
</body>
</html>