<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For oily skin</title>
    <link rel="stylesheet" href="oilyskin.css">
    <link rel="icon" href="logo/logomfu.png" >
</head>
<body>

    <header>
        <nav class="navbar">
            
            <a href="main-page.html" class="MFU">MFU<br> Make Up For You</a>
            <a href="#" class="nav-products">
               <h3 class="product-text">PRODUCTS FOR</h3> 
            </a>     

            <ul class="nav-menu">
    
                <li class="nav-item">
                    <a href="normalskin.html" class="nav-link">normal skin</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">dry skin</a>
                </li>
            </ul>
        </nav>
    </header>


    <main>

        <div class="product-container">

        <div class="product1">
            <img src="images/serum.jpg" alt="serum" class="serum">
            <div class="overlay-text">
                <h2 class="title"> Dark Spot Correcting <br> Glow Serum </h2><br>
                 <p class="description">A 5% Niacinamide-based serum that corrects<br>
                    dark spots and improves uneven skin tone. <br> With the help of plant-derived 
                    Squalane, <br>this serum retains moisture to keep <br> your skin glowing and healthy 
                    wherever you go.
                </p><br>
                <p class="price">$ 17</p>
            </div>
        </div>


        <div class="product2">
            <img src="images/ampoule.jpg" alt="ampoule" class="ampoule">
            <div class="overlay-text2">
                <h2 class="title2"> Artichoke Intensive Skin <br>Barrier Ampoule </h2><br>
                <p class="description2">
                    With the core ingredient of artichoke, this ampoule<br> is specially 
                    formulated to repair and strengthen <br>the skin’s natural barrier
                    and prevent skin irritation.<br>
                    and smoother complexion.
                </p><br>
                </p>
                <p class="price2">$ 20</p>
            </div>
        </div>



        <div class="product3">
            <img src="images/eyeserum.jpg" alt="eyeserum" class="eyeserum">
            <div class="overlay-text3">
                <h2 class="title3">Vegan Collagen Eye<br> Serum </h2><br>
                <p class="description3">
                    AXIS-Y Vegan Collagen Eye Serum is your <br> Ultimate Solution to Combat Wrinkles, Puffiness,
                    <br>and Dark Circles.This eye serum not only<br> addresses fine lines, puffiness, and dark circles<br>  
                    but also stands out with its exceptionally nourishing <br>and highly absorbent formula.
                </p><br>
                </p>
                <p class="price3">$ 16</p>
            </div>
        </div>

    </div>

    </main>




    
</body>
</html>