/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:wght@300;400;500;600;700;800&family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    /* Colors */
    --pink-color:#FFE5EC;
    --gentle-pink-color: #FFF0F5;
    --white-color: #FFFFFF;
    --cream-color: #f9f1f0;
    --black-color: #000000;

    /*Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*Font weight */
    --light-weight:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /*Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*Site max width*/
    --site-max-width: 1300px;
    --site-min-width: 320px;


}

/* styling for whole site*/
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width: 30%;
}
/* styling for whole site*/


/*navbar styling (main page, login and register*/

.MFU{
    display: flex;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right:0%;
    color: var(--black-color);
    font-size: 25px;
    font-weight: 600;
}

header{
    background-color: var(--gentle-pink-color);
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-text{
    color: var(--black-color);
}

.navbar .logo-text{
    display: flex;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right:0%;
}
.navbar {
    position: absolute;   /* Фиксирует navbar поверх фонового изображения */
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Полупрозрачный фон для читаемости */
    color: white;
    z-index: 10;          /* Высокий z-index, чтобы navbar был виден */
    padding: 10px;
    text-align: center;
  }
/*navbar styling*/





.navbar .nav-products{
    color: var(--black-color);
}

.navbar .nav-menu .nav-link{
    color: var(--black-color)
    
}

.navbar .nav-menu{
    display: flex;
    gap: 80px;
}



.main-page .main-logo{
    margin-left: 70%;
    margin-top: 50px;
}



/* Задать картинку на весь экран */
.fullscreen-background {
    width: 100vw;         /* Полная ширина экрана */
    height: 100vh;        /* Полная высота экрана */
    background-image: url('logo.jpg');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .fullscreen-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    /* Масштабирование изображения */
    z-index: 1;           /* Уровень изображения */
  }
  

  /* Текст поверх изображения */

  .overlay-text {
    position: absolute;     /* Позволяет свободно позиционировать текст */
    top: 30%;
    left: 2%;
    color: black;         /* Цвет текста */
    z-index: 1;           /* Уровень текста выше изображения */
    text-align: left;      /* Центрирует текст */
  }

  .overlay-text .title1{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
  }

  .description{
    text-align: left; 
  }

  .overlay-text .title2{
    font-family: 'EB Garamond', serif;
    font-size: 45px;
  }

  .overlay-text .description{
    font-family: 'Prata', serif;
    font-size: 25px;
  }
    /* Текст поверх изображения */



  /* button shop-now*/
  .button {
    background-color: transparent; /* прозр цвет фона кнопки */
    color: black;              /* Цвет текста кнопки */
    padding: 10px 20px;       /* Отступы внутри кнопки */
    border: none;              /* Убираем рамку */
    border-radius: 10px;       /* Скругление углов */
    text-decoration: none;     /* Убираем подчеркивание текста */
    font-size: 30px;           /* Размер шрифта */
    cursor: pointer;           /* Изменяет курсор на указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
    margin-left: 20%;
    font-family: 'EB Garamond', serif;

}

.button:hover {
    background-color: var(--black-color); /* Цвет кнопки при наведении */
    color: white;
}
/* button shop-now*/






/*login page*/
header{
    background-color: var(--gentle-pink-color);
}
.fullscreen-background2 {
    width: 100vw;         /* Полная ширина экрана */
    height: 100vh;        /* Полная высота экрана */
    background-color: var(--pink-color);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
.login-content{
    text-align: center;
}

h1{
    font-family: 'EB Garamond', serif;
    font-size: 36px; /* Размер текста 36px */
    font-weight: 600; /* Полужирный текст */ 
    margin-bottom: 25px;
}

.email-input{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding-right: 80px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.password-input{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding-right: 80px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 5px;
}

.forgot-password{
    text-align: end;
    margin: 0 0 5px 0;
    a{
        color: var(--black-color);
        text-decoration: none;
    }
}

.agreement{
    text-align: end;
    margin-bottom: 40px;
}

.login-button{
    background-color: transparent;
    border: 1px solid black;
    color: black;              /* Цвет текста кнопки */
    padding: 5px 35px;       /* Отступы внутри кнопки */
    text-decoration: none;     /* Убираем подчеркивание текста */
    font-size: 20px; 
    border-radius: 5px;         
    cursor: pointer;           /* Изменяет курсор на указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
    margin-left: 10px;
    font-family: 'EB Garamond', serif;
}

.register-link{
    text-align: end;
    a{
        color: var(--black-color);
        text-decoration: none;
    }
}







/*register page*/
header{
    background-color: var(--gentle-pink-color);
}
.fullscreen-background3 {
    width: 100vw;         /* Полная ширина экрана */
    height: 100vh;        /* Полная высота экрана */
    background-color: var(--pink-color);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
.login-content{
    text-align: center;
}

h1{
    font-family: 'EB Garamond', serif;
    font-size: 25px; /* Размер текста 36px */
    font-weight: 600; /* Полужирный текст */ 
    margin-bottom: 25px;
    text-align: center;
}

.username{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding-right: 80px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    
}

.email, .password, .confirm-password{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    margin: 10px 0 0 0; /* Центрирование по горизонтали */
    border-radius: 5px;
    padding-right: 80px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.checkbox{
    text-align: end;
}

.create-account-button{
    background-color: transparent;
    border: 1px solid black;
    color: black;              /* Цвет текста кнопки */
    padding: 5px 15px;       /* Отступы внутри кнопки */
    text-decoration: none;     /* Убираем подчеркивание текста */
    font-size: 20px; 
    border-radius: 5px;         
    cursor: pointer;           /* Изменяет курсор на указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
    margin-left: 30%;
    font-family: 'EB Garamond', serif;

}

p{
    text-align: end;
    color: var(--black-color);
    .loginbutton{
        color: var(--black-color);
        font-size: small;
    }
}

